.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.heading{
  color:red !important;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.hmain{
  margin-top: 100px;
  margin-bottom: 40px;
}
.faqouter{
  width: 1320px;
  height: auto;
  margin: auto;
  
  

}
.faqItems{
  padding: 0;
  border: 1px solid red;
  margin-bottom: 20px;
}
.faqItems h2{
  text-align: left;
  padding: 10px;
  margin: 0;
  color: white;
  background-color: #282c34;
  position: relative;
  cursor: pointer;
}
.faqItems h2 span{
position: absolute;
right: 10px;
cursor: pointer;
}
.faqItems p{
  text-align: left;
  padding: 0px;
  margin: 0;
  height: 0;
  transform: scale(0);
}
.activeAns{
  padding: 10px !important;
  transform: scale(1) !important;
  height: auto !important;
}
